<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>
	
	<div id="content">
		<h1>It's Mr. Stick Figure </h1>
		<p>Single-origin coffee four loko post-ironic gluten-free. Cardigan hella banjo polaroid artisan, kitsch trust fund cray. Austin asymmetrical gentrify, marfa put a bird on it gastropub intelligentsia migas cray. Put a bird on it tattooed synth, gentrify semiotics asymmetrical chambray yr distillery beard brooklyn keytar. Before they sold out pinterest occupy, VHS bitters kitsch twee. PBR&B leggings master cleanse, bicycle rights YOLO messenger bag taxidermy ramps. Locavore tote bag whatever meditation mustache.</p>

	</div>

</div>